$primary-color: #4CAF50;
$text-color: #333;
$background-color: #f4f4f4;

.home-main {
    #hero {
        height: calc(100dvh - 86px);
        margin: 0px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        h1 {
            font-size: 4rem;
            color: white;
        }

        p {
            color: #b5b5b5;
            font-size: 20px;
        }

        button {
            background-color: #61626373;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            border-radius: 2rem;
            box-shadow: 0px 0px 4px #00000057;
            transition: background-color 0.2s ease;

            &:hover {
                transition: background-color 0.2s ease;
                background-color: #a7a7a773;
            }
        }
    }

    .home-section {
        padding: 2rem;

        .trending-section {
            background-color: white;
            padding: 1rem;
            border-radius: 8px;

            h2 {
                margin-bottom: 1rem;
            }

            .trending-section-card-container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                .trending-card {
                    background-color: $background-color;
                    border: 1px solid #ddd;
                    padding: 20px;
                    margin: 10px;
                    flex-basis: 30%;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                    transition: transform 0.2s;
                    border-radius: 8px;
                    cursor: pointer;
    
                    &:hover {
                        transform: scale(1.05);
                    }

                    h3 {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}